/***/
/*==========  5.1 - Buttons  ==========*/

.btn-primary {
	color: #a5e200, rgb(165,226,0);
	background-color: #a5e200, rgb(165,226,0);
	text-transform: $text-transform-base;
	padding: 10px 12px;
	margin-bottom: $baseline;
}

.btn-primary:hover {
	color: #88ba00, rgb(136,186,0);
	background-color: #a5e200, rgb(165,226,0);
	border-color: #a5e200, rgb(165,226,0);
}

.btn-default {
	margin: 5px 5px 5px 0px;
	color: $color-text-light;
	background-color: transparent;
	border-color: #a5e200, rgb(165,226,0);
}

.btn-default:hover {
	color: #a5e200, rgb(165,226,0);
	background-color: transparent;
	border-color: $color-text-light;
}

.btn-success {
	color: #a5e200, rgb(165,226,0);
	background-color: #a5e200, rgb(165,226,0);
	border-color: #a5e200, rgb(165,226,0);
	text-transform: $text-transform-base;
	padding: 10px 12px;
}

.btn-success:hover {
	color: #88ba00, rgb(136,186,0);
	background-color: #a5e200, rgb(165,226,0);
	border-color: #a5e200, rgb(165,226,0);
}